{% extends 'seasons/seasonpage.html' %}

{% block statstblheader %}
<th>Shots</th>
<th>SoT</th>
<th>Pass Att</th>
<th>Pass Cmp</th>
<th>Pass %</th>
<th>Yellow Cards</th>
{% endblock %}

{% block statstblcontent %}
{% for stat in stats %}
<tr>
    <td data-title="Squad">{{stat.squad}}</td>
    <td data-title="Wins">{{stat.wins}}</td>
    <td data-title="Draws">{{stat.draws}}</td>
    <td data-title="Losses">{{stat.losses}}</td>
    <td data-title="Points">{{stat.points}}</td>
    <td data-title="GF">{{stat.goalsF}}</td>
    <td data-title="GA">{{stat.goalsA}}</td>
    <td data-title="Shots">{{stat.shots}}</td>
    <td data-title="Shots On Target">{{stat.shotsOT}}</td>
    <td data-title="Pass Att">{{stat.att}}</td>
    <td data-title="Pass Cmp">{{stat.cmp}}</td>
    <td data-title="Pass %">{{stat.cmpPerc}}</td>
    <td data-title="Yellow Cards">{{stat.crdY}}</td>
</tr>
{% endfor %}
{% endblock %}

{% block matchestblheader%}
<th>Date</th>
<th>Home</th>
<th>Home xG</th>
<th>Score</th>
<th>Away xG</th>
<th>Away</th>
<th>Attendance</th>
<th>Venue</th>
{% endblock %}

{% block matchestblcontent %}
{% for match in matches %}
<tr>
    <td data-title="Date">{{match.date}}</td>
    <td data-title="Home"><img src="/static/images/{{match.home}}.png" class="match-logo" alt="{{match.home}} logo">{{match.home}}</td>
    <td data-title="Home xG">{{match.homeXG}}</td>
    <td data-title="Score">{{match.homeGoals}}-{{match.awayGoals}}</td>
    <td data-title="Away xG">{{match.awayXG}}</td>
    <td data-title="Away"><img src="/static/images/{{match.away}}.png" class="match-logo" alt="{{match.away}} logo">{{match.away}}</td>
    <td data-title="Attendance">{{match.attendance}}</td>
    <td data-title="Venue">{{match.venue}}</td>
</tr>
{% endfor %}
{% endblock %}