{% extends 'home/navbar.html' %}
{% load static %}

{% block content %}
<html>
    <head>
        <title>Season Home Page</title>
        <link rel="stylesheet" type="text/css" href={% static 'css/seasonshome.css' %}>
    </head>
    <body>
        <h3 class="seasonheader"> Seasons </h3>
        <ul class="seasons">
        {% for s in ls %}
            <li class="season">
                <a href="{% url 'seasonview' s.season %}">
                    <button class="seasonbtn" >{{s.season}}</button>
                </a>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>
{% endblock %}