{% extends 'home/navbar.html' %}

{% block content %}
{% load static %}
<html>
    <head>
        <title>{{stats.0.season}}</title>
        <link rel="stylesheet" type="text/css" href={% static 'css/seasonpage.css' %}>
    </head>
    <body>
        <div>
            <h3 class="mainheader">{{stats.0.season}} Stats and Results</h3>
            <h3 class="subheader">Season Stats</h3>
        </div>
        <div class="tblheader">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Squad</th>
                        <th>Wins</th>
                        <th>Draws</th>
                        <th>Losses</th>
                        <th>Points</th>
                        <th>GF</th>
                        <th>GA</th>
                        {% block statstblheader %}
                        {% endblock %}
                    </tr>
                </thead>
            </table>
        </div>
        <div class="stats-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                        {% block statstblcontent %}
                        {% endblock %}
                </tbody>
            </table>
        </div>
        <div>
            <h3 class="subheader">All Matches</h3>
        </div>
        <div class="tblheader">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        {% block matchestblheader %}
                        {% endblock %}
                    </tr>
                </thead>
            </table>
        </div>
        <div class="match-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        {% block matchestblcontent %}
                        {% endblock %}
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
{% endblock %}