{% extends 'home/navbar.html' %}
{% load static %}

{% block content %}
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href={% static 'css/homepage.css' %}>
    </head>
    <body>
        <div>
            <h1 class="homeheader">EPL Insights</h1>
            <ul class="btns">
                <li>
                    <a href="{% url 'seasons' %}">
                        <button class="button-64" role="button"><span class="text">Seasons</span></button>
                    </a>
                </li>
                <li>
                    <a href="{% url 'teams' %}">
                        <button class="button-64" role="button"><span class="text">Teams</span></button></li>
                    </a>
                <li><button class="button-64" role="button"><span class="text">Predictions</span></button></li>
            <ul>
        </div>
    </body>
</html>
{% endblock %}