{% extends 'home/navbar.html' %}

{% block content %}
{% load static %}
<html>
    <head>
        <title>All Teams</title>
        <link rel="stylesheet" type="text/css" href={% static 'css/teamshome.css' %}>
    </head>
    <body>
        <h3 class="teamsheader">Teams</h3>
        <ul class="teams">
        {% for team in teams %}
            <li>
                <a href={% url 'teamview' team.squad%} class="btn">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/images/{{team.squad}}.png" class="card-img-top mx-auto" alt="{{team.squad}} logo">
                        <div class="card-body">
                            <h5 class="card-title">{{team.squad}}</h5>
                            <p>See Stats and Matches</p>
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>
{% endblock %}