body {
    background: linear-gradient(
    90deg,
    hsl(0deg 0% 0%) 0%,
    hsl(233deg 64% 6%) 7%,
    hsl(231deg 38% 9%) 13%,
    hsl(229deg 31% 11%) 20%,
    hsl(229deg 28% 13%) 27%,
    hsl(229deg 33% 14%) 33%,
    hsl(230deg 36% 16%) 40%,
    hsl(230deg 39% 18%) 47%,
    hsl(230deg 41% 19%) 53%,
    hsl(230deg 45% 20%) 60%,
    hsl(230deg 48% 21%) 67%,
    hsl(230deg 52% 21%) 73%,
    hsl(230deg 58% 22%) 80%,
    hsl(230deg 66% 22%) 87%,
    hsl(230deg 73% 23%) 93%,
    hsl(230deg 80% 24%) 100%
    );
}
.homeheader {
    color: white;
    text-align: center;
    font-size: 75px;
    font-weight: 800;
    padding-top: 250px;
    padding-bottom: 100px;
    animation: fadeIn 5s;
}
.btns {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 40px;
    animation: fadeIn 5s;
}
.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 200px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.button-64:active,
.button-64:hover {
    outline: 0;
}
.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
.button-64:hover span {
    background: none;
}
.subheader {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    animation: fadeIn 5s;
}
table {
    width: 100%;
    table-layout: fixed;
    animation: fadeIn 5s;
}
.tbl-header {
    background-color: rgba(255,255,255,0.3);
}
.stats-content {
    height:300px;
    overflow-x: visible;
    overflow-y: auto;
    margin-top: 0px;
    width: 100%;
}
th {
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    min-width: 10px;
}
td {
    padding: 10px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}