.navbar {
    background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    color: white;
    display: flex;
    justify-content: center;
}
.navimg {
    width: 75px;
    height: auto;
}
.navheader {
    margin-left: 20px;
    margin-right: auto;
}
.navitems {
    display: flex;
    gap: 47px;
    list-style: none;
}   
.navitems a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}